* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-track {
  background-color: #d1d1d1;
}
body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
}
body::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: black;
}

/* MAIN PAGE STYLE */
/* header-상단 고정바 */
header {
  position: fixed;
  background-color: #a82c28;
  height: 50px;
  width: 100%;
  border-bottom: 3px solid #d35d57;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  transition: all 0.2s ease-in-out;
}

header:hover {
  background-color: #b6332b;
}

header:hover #jonggang_btn {
  background-color: #edc34b;
  color: rgb(41, 41, 41);
  cursor: pointer;
}

.jonggang {
  font-size: 16px;
  color: #edc34b;
  margin: 0 20px;
  margin-left: 4px;
}

#dday {
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
}

#jonggang_btn {
  box-sizing: content-box;
  width: 100px;
  height: 35px;
  font-size: 14px;
  font-weight: 600;
  margin: 0 20px;
  border-radius: 3px;
  background-color: #f1e1af;
  border: 3px solid #edc34b;
  transition: all 0.2s ease-in-out;
}

#jonggang_btn:hover {
  background-color: #edc34b;
}

@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.blink {
  animation: blink-effect 2s step-end infinite;
}

/* nav-상단 메뉴바 */
nav {
  padding-top: 60px;
  width: 65%;
  margin: 0 auto;
}

.nav-width-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo_img {
  margin: 10px 20px 10px 0;
  padding: 20px 20px 20px 0;
  vertical-align: sub;
}

#top_left_menu_wrap {
  margin: 10px 0 10px 20px;
  padding: 20px 0 20px 20px;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.top_cornor_menu_bar_btn {
  padding: 0 10px;
  cursor: pointer;
}

.top_cornor_menu_bar_btn:hover a {
  color: #edc34b;
  transition: 0.3s all ease-in-out;
}

#top_menu_main_btn {
  color: #edc34b;
}

#top_menu_main_btn:hover {
  cursor: pointer;
}

.social_menu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  vertical-align: bottom;
  padding-left: 16px;
}

.social_menu svg {
  width: 18px;
  height: 18px;
  padding: 0 4px;
  box-sizing: content-box;
  vertical-align: middle;
  cursor: pointer;
}

/* main 1 -> 기린사진 */
.main_1_wrap {
  width: 100%;
  min-height: 700px;
  background-image: url("https://images.unsplash.com/photo-1523805009345-7448845a9e53?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.main_wrap-box {
  width: 65%;
  height: 100%;
  margin: 0 auto;
}

.main_1_content_wrap {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

#main_1_content_slogan {
  font-size: 60px;
  text-align: right;
}

#lion_head {
  width: 70px;
  height: 70px;
  padding: 10px 10px 0 0;
  vertical-align: text-top;
  box-sizing: content-box;
}

.main-text-md {
  font-size: 56px;
}

.main-text-sm {
  font-size: 48px;
}

#main_1_content_subslogan {
  padding-top: 70px;
  font-size: 28px;
}

#with_professor {
  color: #d35d57;
  font-weight: bold;
}

.main_1_btn_wrap {
  display: flex;
  flex-direction: row;
  padding-top: 25px;
}

.main_1_btn {
  width: 159px;
  height: 42px;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 10px 0px 10px 20px;
  border: 2px solid #000000;
  border-radius: 3px;
}

.main_1_btn:hover {
  background-color: #52905d;
  font-weight: solid;
  color: white;
  cursor: pointer;
}

/* ICONS */
.icons {
  height: 50vh;
  background-color: #dedede;
}

.container {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.icon-box {
  text-align: center;
}

.img-box {
  background-color: #fff;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.image {
  width: 100px;
  height: 100px;
}

.icon-box b {
  display: block;
  font-size: 16px;
  color: #d35d57;
}

.icon-box p {
  font-size: 14px;
}

/* ABOUT STYLE */

.about {
  width: 65%;
  margin: 50px auto;
}

.about-us {
  font-size: 48px;
  margin-bottom: 20px;
}

.intro {
  font-size: 24px;
}

.info-member {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.photo {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  margin-top: 60px;
}

.photo img {
  width: 150px;
  height: 150px;
  border-radius: 3px;
}

.member p {
  color: gray;
  text-align: center;
  font-size: 14px;
  font-style: italic;
}

.member b {
  font-size: 16px;
  color: #d35d57;
}

.member4-img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 3px;
  background-image: url("/imgs/giraffe.jpg");
  background-position: center;
  background-size: cover;
}

.layout {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
}

.text {
  font-size: 16px;
  line-height: 160%;
  margin: 0 auto;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-around;
}

.text-box {
  max-width: 500px;
}

/* CONTACT STYLE */
.contact {
  background-color: #dedede;
  display: block;
  height: 90%;
}

.contact-box {
  box-sizing: content-box;
  margin: 0 auto;
  padding-bottom: 20px;
  width: 65%;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contact-head-title {
  margin-bottom: 20px;
}

.contact-head-desc {
  font-size: 24px;
}

.contact-body {
  width: 100%;
  min-height: 500px;
  display: grid;
  grid-template-columns: 40% 1fr;
  gap: 200px;
}

.contact-body-info {
  justify-content: left;
}

.contact-body__main {
  margin-bottom: 40px;
}

.contact__main-text {
  margin-bottom: 15px;
}

.contact-body__location {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-body__map {
  width: 100%;
  height: 300px;
  margin-top: 50px;
}

#map {
  width: 80%;
  height: 100%;
}

.map_title {
  font-size: 12px;
  background-color: #fff;
  min-width: 100px;
  height: 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  display: grid;
  grid-template-columns: 70px 1fr;
}

.map_title_left {
  min-width: 70px;
  text-align: center;
}

.map_title_right {
  background-color: #d35d57;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map_title_right svg {
  fill: white;
  width: 18px;
  height: 18px;
}

svg {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  margin-right: 10px;
}

svg:last-child {
  margin-right: 0;
}

.contact-body-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.contact-form-box {
  min-height: 200px;
  padding: 10px 0;
  display: grid;
  grid-template-rows: 75% 1fr;
}

.contact-form-box:last-child {
  padding-bottom: 0;
}

.contact-form-wrap:last-child:before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: black;
}

.contact-form {
  box-sizing: content-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.contact-form-inputs {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.contact-form-inputs input {
  box-sizing: border-box;
  padding: 0 8px;
  border: 1px solid transparent;
}

.contact-form-inputs input:hover,
.contact-form-inputs input:focus,
.contact-form textarea:hover,
.contact-form textarea:focus {
  border-style: solid;
  border-color: #edc34b;
  outline: 0;
}

.contact-form textarea {
  padding-top: 14px;
  padding-left: 8px;
  border: 1px solid transparent;
}

.contact-form-btn {
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
  margin-top: 10px;
  width: 20%;
  justify-self: end;
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
  background-color: #d35d57;
}

.contact-form-btn:hover {
  background-color: #8f1913;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}

.footer-wrap {
  font-size: 14px;
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-wrap img {
  box-sizing: content-box;
  width: 28px;
  height: 28px;
  vertical-align: middle;
  padding-left: 10px;
}

.footer-location span {
  margin-left: 20px;
}

.footer-location svg {
  width: 18px;
  height: 18px;
  padding: 0 4px;
  box-sizing: content-box;
  vertical-align: middle;
  cursor: pointer;
  margin: 0;
}
